<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% const editAction = categoryID ?
    `/category/${categoryID}/item/${item.id}/edit` : `/items/${item.id}/edit`;
    const backLink = categoryID ? `/category/${categoryID}` : `/items/${item.id}`;%>

    <form action="<%= editAction %>" method="POST">
      <label for="name">Item name:</label>
      <input type="text" name="name" id="name" value="<%= item.name %>" />
      <label for="description">Item description:</label>
      <input
        type="text"
        name="description"
        id="description"
        value="<%= item.description %>"
      />
      <label for="image_src">Item Picture Source:</label>
      <input
        type="text"
        name="image_src"
        id="image_src"
        value="<%= item.image_src %>"
      />
      <label for="category">Item's Category:</label>
      <input
        type="number"
        name="category"
        id="category"
        value="<%=item.category_id%>"
      />
      <button type="submit">Submit</button>
    </form>
    <a href="<%= backLink %>">
        Back to <%= categoryID ? 'category' : `${item.name}` %>
      </a>
  </body>
</html>
