<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/category/<%=category.id%>/item/<%=item.id%>/edit" method="POST">
      <label for="name">Item name:</label>
      <input type="text" name="name" id="name" value="<%= item.name %>" />
      <label for="description">Item description:</label>
      <input
        type="text"
        name="description"
        id="description"
        value="<%= item.description %>"
      />
      <label for="image_src">Item Picture Source:</label>
      <input
        type="text"
        name="image_src"
        id="image_src"
        value="<%= item.image_src %>"
      />
      <label for="category">Item's Category:</label>
      <input
        type="number"
        name="category"
        id="category"
        value="<%=category.id%>"
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/category/<%=category.id%>">Back to category</a>
  </body>
</html>
